.hero{
    background: url("../img/solo.png") left 78% center no-repeat;
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
    color: #292929;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px 0;
}

.hero__title-section{
    width: 39%;
    display: flex;
    flex-wrap: wrap;
   
}

.hero__main-title{
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc{
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 10%;
}